html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #41463dff;
    color: #95f2d9ff;
}

body * {
    display:block;
    margin:20px auto;
    text-align:center;
}

/* 
    
    SCSS HEX 
$black-olive: #41463dff;
$medium-purple: #9d8df1ff;
$light-steel-blue: #b8cdf8ff;
$magic-mint: #95f2d9ff;
$sea-green-crayola: #1cfebaff;

    */